*{
    box-sizing: border-box;
    /* list-style-type: none; */
    text-decoration: none;
}

@font-face {
    font-family: Helvetica, sans-serif;
    src: url(/assets/fonts/helvetica/Helvetica-Bold.ttf);
    font-weight: 700;
}

.helvetica-bold {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}

@font-face {
    font-family: Helvetica, sans-serif;
    src: url(/assets/fonts/helvetica/helvetica-light-587ebe5a59211.ttf);
    font-weight: 400;
}

.helvetica-light {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}


.nav-btn:hover .btn-svg{
    fill: white;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* Moves exactly halfway to reveal the duplicate track */
  }
}


    .swiper-slide,
    .swiper-slide-next {
      max-width: 364px;

    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-navigation-icon {
      display: none;
    }

    .swiper-slide {}

    .swiper-slide-active {
      max-width: 364px;
    }

    .swiper-button-prev {
      left: unset;
    }

